@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
#title {
	width: auto;
	font-size: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 1%;
}
#links {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1%;
	width: auto;
}
#links > ul > li {
	display: inline-block;
	padding-right: 10px;
}
#links > ul > li:not(:first-child):before{
	content: "|";
	padding-right: 10px;
}
.line {
	height: 2px;
	margin-left: 1%;
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(left,  #666666 0%, #ffffff 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(25%,#2989d8), color-stop(75%,#207cca), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#2989d8 25%,#207cca 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 0%,#2989d8 25%,#207cca 75%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 0%,#2989d8 25%,#207cca 75%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(left,  #ffffff 0%,#2989d8 25%,#207cca 75%,#ffffff 100%); /* W3C */
}
#eminem {
	max-width: 900px;
	padding-left: 2%;
	padding-right: 2%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -19px;
}
#content {
	width: 94%;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-left: 3%;
	padding-right: 3%;
	line-height: 150%;
}
#footer, #push {
	width: 100%;
	height: 16px;
	text-align: center;
}